body{
    background-color: rgb(29, 29, 29);
}
h1{
font-family: 'Playball', cursive;
    color: rgb(201, 176, 39);
    font-weight: 100;
}
h4{
font-family: 'Playball', cursive;
font-weight: 100;
color: blueviolet;
}